
  <nav class="navbar">
    <!--logo-->
    <div class="logo"><img class="img-responsive" src="assets/images/logo.jpg"></div>

    <!--right-nav-->
    <div class="right-nav">
         <!--search-->

        <ul >
            <li>
                <a href="#" class="right-nav-links">Espace utilisateur</a>
            </li>
            <li>
                <a href="#" class="right-nav-links">Panier</a>
            </li>
        </ul>

        <div class="search">
          <input type="search" id="site-search"
            aria-label="Search through site content" placeholder="Search..">
            <button style="margin-left: 10px;">Search</button>
        </div>
    </div>
</nav>
