ul li{
  display: inline;
}
nav{
  display: inline-flex;
  width: 100%;
  background-color: lavender;
  border-radius: 3px;
}
.right-nav{
  width: 100%;
}
.right-nav ul{
  float: right;
}
.search{
  display: inline-flex;
  height: fit-content;
  float: right;
  padding: 10px;
  border-radius: 3px;
  margin: 10px;

}
.logo img{
  width: 168px;
  height: 69px;
    border-radius: 5px;
    mix-blend-mode: multiply;
}
